body {
  background-color: #fff;
  color: #777;
  font: normal 15px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}

p {
	line-height: 20px;
	margin-bottom: 20px;
}

h1 {
	font-family:'Conv_GochiHand-Regular',Sans-Serif;
	font-weight: bold;
	color: #eb1797;
	font-size: 45px;
	margin-bottom: 20px;
}

h2 {
	font-weight: 300;
	color: white;
	font-size: 55px;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h3 {
	font-size: 30px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 20px;
}

h4 {
	font-size: 24px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
	margin-bottom: 20px;
}

h5 {
	font-size: 15px;
	color: #444;
	font-weight: bold;
	text-transform: uppercase;
}

a {
	text-decoration: none;
	color: #444;
}

a:hover {
	color: #eb1797;
}

strong {
	font-weight: bold;
}

small {
	font-size: 13px;
	color: #777;
	font-style: italic;
}

.clear {
	clear: both;
}

.wrapper {
	margin: 0 auto;
	width: 940px;
}

header {
  height: 100px;
  position: fixed;
  background-color: rgba(0,0,0,0.2); /* #f5f5f5 */
  left: 0px;
  top: -5px;
  width: 100% !important;
  z-index: 1 !important;
}

header h1 {
  float: left;
  margin-top: 32px;
  position: fixed;
  margin-left: -30px;
}

header h1 .color {
	color: #02b8dd;
}

header nav {
	float: right;
	margin-right: -150px;
}

header nav ul li {
	float: left;
	display: inline-block;
	margin-top: 40px;
  	margin-right: 50px;
}

header nav ul li a {
	color: white;/* #444 */
	/*text-transform: uppercase;*/
	font-weight: bold;
	display: block;
	margin-right: 20px;

}
#dessert-video {
	height: 480px;
	padding-top: 220px;
	background: #e8eced no repeat;
}
#dessert-video h2 {
	margin: 50px 0 40px 0;
}

.video {
    position: fixed !important;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
}
.button-1 {
	display: block;
	text-align: center;
	background: transparent;
	border: 1px solid white;
	border-radius: 3px;
	color: #fff;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;
	margin: 0 auto;
}

.button-1:hover {
	background-color: #eb1797;
	color: #fff;
}

#features ul {
	margin: 100px 0;
}

#features ul li {
	width: 280px;
	padding-top: 80px;
	float: left;
	margin-right: 20px;
	text-align: center;
	padding-bottom: 50px;
}

#features ul li.feature-1 {
	background: url('/assets/lollipop.png') no-repeat top center;
	background-size: 100px 100px;
}
#features ul li.feature-2 {
	background: url('/assets/obsession.png') no-repeat top center;
	background-size: 100px 100px;
}
#features ul li.feature-3 {
	background: url('/assets/pink.png') no-repeat top center;
	background-size: 100px 100px;
}

#primary-content {
	background-color: #FCFBE3;
	text-align: center;
	border-radius: 10px;
}

#primary-content h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid #eb1797;
	padding: 0px 0 20px 0;
}

#primary-content a img {
	margin: 20px 0;
}

#secondary-content {
	padding: 20px 0;
	text-align: center;
}

#secondary-content article {
	width: 460px;
	height: 270px;
	float: left;
	background-color: #f5f5f5;
	/*border: 1px solid #A37E58;*/
	border-radius: 10px;
}

#secondary-content article:first-child {
	margin-right: 20px;
}

#secondary-content article .overlay {
	background: rgba(255, 255, 255, .95);
	height: 400px;
	width: 190px;
	padding: 20px;
}

article h4 {
	border-bottom: 1px solid #eb1797;
	padding-bottom: 20px;
}

.more-link {
	border: 1px solid #eb1797;
	color: #eb1797;
	padding: 6px 20px;
	border-radius: 3px;
}

.more-link:hover {
	background-color: #eb1797;
	color: #fff;
}
#cta {
	text-align: center;
}

#cta h3 {
	display: block;
	margin: 0 auto 20px auto;
	width: 400px;
	border-bottom: 1px solid #eb1797;
	padding: 150px 0 20px 20px;
 	margin-bottom: 50px;
}

.button-2 {
	display: block;
	margin: 0 auto;
	border: 2px solid #eb1797;
	color: #eb1797;
	border-radius: 3px;
	width: 180px;
	height: 50px;
	font-size: 20px;
	line-height: 50px;

}

.button-2:hover {
	background-color: #eb1797;
	color: #fff;
}
#top-dessert {
  padding-top: 80px;
  padding-bottom: 100px;
  margin-bottom: 100px;
}
#footer-info {
  width: 380px;
  padding-top: 100px;
  margin-top: 30px;
  margin-left: 280px;
  text-align: center;
}

.header-logo {
	height: 70px;
	width: 70px;
	float: left;
	margin-top: 10px;
    margin-left: -100px;
}

.features-list {
	list-style-type: none;
	font-size: 16px;
}

.lwing {
	float: left;
	position: absolute;
	margin-left: -170px;
	margin-top: 25px;
}

.rwing{
	float: right;
	position: absolute;
	margin-left: 65%;
    margin-top: 25px;
}

a.oval-hover {
	font-size: 20px;
}

div.slider-content {
	width: 100%;
	height: 450px;
	border: 5px solid #A37E58;
	border-radius: 10px;

}

#image-slider {
	height: 450px;
	width: 100%;
	border-radius: 5px;
} 

#text-content {
	text-align: justify;
	font-size: 18px;
	line-height: 30px;
}


#primary-content, body{
	font-family:'Conv_GochiHand-Regular',Sans-Serif;
	font-weight: normal;
}

#more-quote, #footer-info, nav {
	font-size: 16px;
}

a.more-link {
	position: absolute;
	margin-top: -17px !important;
	margin-left:  -50px !important;
}


/* Responsive Sections */
@media (max-width: 451px){
	/* Adjust major width*/
	body ,header , .wrapper,  #dessert-video, div#top-dessert{
		width: 450px !important;
	}

	#primary-content {
		width: 430px !important;
	}


	/* Adjust dessert width */
	div#top-dessert {
		width: 300px !important;
	}
	/* Adjust slider content*/
	div.slider-content {
		margin-left: 24px;
		width: 370px !important;
	}

	/* Adjust logo */
	.header-logo {
		margin-left: 80px;
		margin-top: 1px;
	}

	/* Adjust header text */
	#header-text {
		margin-left: 150px !important;
	}

	/* Remove margin on navigations */
	nav ul li {
		margin-right: 0px !important;
	}

	/* Adjust navigations home etc*/
	nav {
		position: absolute;
		margin-top: 35px;
		font-weight: small;
		margin-left: 44px;
		font-size: 1px !important;
	}

	/* Feature sections */
	li.feature-1, li.feature-2, li.feature-3 {
		margin-left: 30px;
	}

	/* Center text */
	#text-content {
		width: 380px;
		margin: 0 auto;
		margin-left: 22px;
	}

	/* Adjust margin */
	li h4 {
		margin-top: 50px;
	}

	/* Adjust secondary contents */
	div#secondary-content article {
		width: 360px;
		margin-top: 10px;
		margin-left: 1px;
	}

}
